<!DOCTYPE html>
<html>
<head>
  <meta charset=utf-8 />
  <title> {% if page.title %} {{ page.title }} | {% endif %} Tau Labs </title>
  <link rel="stylesheet" href="{{ site.baseurl }}/css/styles.css" />
</head>
<body>
 
  <div id="main">
 
    <header>
      <h1>  Tau Labs </h1>
    <header>
 
    <nav role="navigation">
      <ul>
        <li><a href="{{ site.baseurl }}/index.html">Home</a></li>
        <li><a href="{{ site.baseurl }}/features.html">Features</a></li>
        <li><a href="http://wiki.taulabs.org/">Wiki</a></li>
        <li><a href="https://github.com/TauLabs/TauLabs/releases">Get Tau Labs</a></li>
        <li><a href="{{ site.baseurl }}/webchat.html">Webchat</a></li>
        <li><a href="{{ site.baseurl }}/videos.html">Videos</a></li>
        <li><a href="{{ site.baseurl }}/about.html">About</a></li>
      </ul>
    </nav>

    <hl/>
 
    <br/>

    {{ content }}
 
    <footer>
      <p>&copy; Tau Labs, 2014 </p>
    </footer>
 
  </div>
</body>
</html>
