<!DOCTYPE html>
<html>
<head>
  <meta charset=utf-8 />
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title> {% if page.title %} {{ page.title }} | {% endif %} Tau Labs </title>
  <link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.4.2/pure-min.css">
  <link rel="stylesheet" href="/css/side-menu.css">
</head>
<body>
 
<div id="layout">
    <a href="#menu" id="menuLink" class="menu-link">
        <!-- Hamburger icon -->
        <span></span>
    </a>

<div id="menu">
<div class="pure-menu pure-menu-open">
    <a href="#" class="pure-menu-heading">{{ site.name }}</a>
    <ul>
        <li><a href="/index.html">Home</a></li>
        <li><a href="/features.html">Features</a></li>
        <li><a href="http://wiki.taulabs.org/">Wiki</a></li>
        <li><a href="https://github.com/TauLabs/TauLabs/releases">Get Tau Labs</a></li>
        <li><a href="/webchat.html">Webchat</a></li>
        <li><a href="/videos.html">Videos</a></li>
        <li><a href="/about.html">About</a></li>
      </ul>
</div>
</div>

  <div id="main">
    <hl/>
    <br/>
    {{ content }}
  </div>

  <div class="footer">
    <p>&copy; Tau Labs, 2014 </p>
  </div>

</div>

<script src="js/ui.js"></script>

</body>
</html>
